<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>805272252636-3mpui7f9ft79k70rphi0q4gbeopgcm9p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.805272252636-3mpui7f9ft79k70rphi0q4gbeopgcm9p</string>
	<key>API_KEY</key>
	<string>AIzaSyCsg7_uTzVjEKDdEaFy8ilbW70ZTJy34EM</string>
	<key>GCM_SENDER_ID</key>
	<string>805272252636</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.khoahockythuat.farmCareAi</string>
	<key>PROJECT_ID</key>
	<string>farm-care-ai</string>
	<key>STORAGE_BUCKET</key>
	<string>farm-care-ai.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:805272252636:ios:f82e03fd3e023241ebc419</string>
</dict>
</plist>